@model Doan_ChuyenMon.Models.ChuyenMuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xoá chuyên mục</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Mã CT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCT)
        </dd>

        <dt>
            Mô tả ngắn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinTuc.MotaNgan)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-success" />
            <a href="@Url.Action("Index","ChuyenMucs")" class="btn btn-success">Trở về danh sách</a>
        </div>
    }
</div>
